logictree/__pycache__/
dist/
build/
*.egg-info/
docs/_build/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
tests/__pycache__
examples/test.py
htmlcov/
examples/decisionTreeNTAExample-Dark.py
examples/example_arrows_with_matplotlib.py
resources/arrow_examples/example_with_matplotlib.png